:root {
    --main-color: #FF7396;
    --card-color: #F4E06D;
    --text-card-color: #D34829;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial Black";
}

.container{
    padding: 60px;
}

.card-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.card-list > .maxCard{
    margin: 5px;
}

.cat-svg{
    position: relative;
    width: 100px;
    height: 100px;
    left:37px;
    fill:white;
}
@media screen and (max-width: 600px) {

    .container{
        padding: 30px;
    }
}